'scopeName': 'source.lo'
'fileTypes': [
  'lo'
]
'firstLineMatch': '(\\w+)(\\.\w+)*\{'
'name': 'L&O'

'patterns': [
  {
    'begin': '/\\*'
    'end': '\\*/'
    'name': 'comment.block.lo'
  }
  {
    'match':'--[ \\t].*$'
    'name':'comment.line.double-dash.lo'
  }
  {
    'begin': '"'
    'end': '"'
    'contentName': 'string.quoted.double.lo'
    'patterns': [
      'include' : '#escaped-char'
      {
        'begin':'\\\\\\('
        'end':'\\)'
        'name':'string.interpolated.lo'
        'patterns' : [
          { 'include':'$self' }
        ]
      }
    ]
  }
  {
    'begin': '\''
    'end': '\''
    'contentName': 'string.quoted.single.lo'
    'patterns': [
        'include' : '#escaped-char'
    ]
  }
  {
    'begin': '\`'
    'end': '\`'
    'contentName': 'regexp.lo'
    'patterns': [
        'include' : '#escaped-char'
    ]
  }
  {
    'match':"(~~|::=|\\||\\?|<=>|<=|=>|:--|:-|-->|->>|->|,|,\\.\\.|<~|::|=|\\\\=|\\\\\\+|\\.\\.|\\%\\%|\\^|\\~|\\.|#|@|:|!|\\[\\||\\|\\]|\\[|\\])"
    'name':'keyword.control.lo'
  }
  {
    'name':'keyword.operator.lo'
    'match':'\\b(private|public|import|all|type|contract|implementation)\\b'
  }
  {
    'name':'constant.language.lo'
    'match':'\\b(true|false|this|void)\\b'
  }
  {
    'match':"(\\*>|\\|\\||==|\\\\==|<|=<|>=|>|\\.=|=\\.|\\bin\\b|<>|\\+|\\b-\\b|\\*|/|%|\\*\\*)"
    'name':'support.operator.lo'
  }
  {
    'match': "((0c(\\\\u[0-9a-fA-F]+;|\\\\.|.))|(\\d+(\\.\\d+([eE][-+]?\\d+)?)?)|(0x[0-9a-zA-F]*))"
    'name': 'constant.numeric.lo'
  }
  {
    'name':'variable.language.lo'
    'match':'([A-Za-z_](\\w|\\d)*)'
  }
  {
    'match': '\\b[a-zA-Z_][a-zA-Z0-9_]*\\b'
    'name': 'variable.language.lo'
  }
  {
    'repository' : [
      'escaped-char' :
        'name' : 'constant.character.escape'
        'matches' : '\\\\(a|b|t|n|r|u[0-9a-zA-F]+;|.)'
    ]
  }
]
